body {
  font-family: serif;
  background: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
}

li a:hover {
  background-color: #555;
  color: white;
}

a:link {
  text-decoration:none;
}

a > img {
  margin-top: 20px;
  width:64px;
  height:64px;
  border:0;
  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
}

a > img:hover {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
}
#main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}

#main > article {
  margin: 20px;
  padding: 0;
  background: white;
  flex: 3 1 60%;
  order: 2;
}

#main > nav {
  margin: 0;
  padding: 0;
  background: gray;
  flex: 1 1 200px;
  order: 1;
}

#main > nav .nav-bar {
  position: fixed;
  background: goldenrod;
  flex: 1 1 200px;
}

#main > aside {
  margin: 0;
  padding: 0;
  background: gray;
  flex: 0 0 200px;
  order: 3;
}

header, footer {
  font-size: 196px;
  display: block;
  margin: 0;
  padding: 0 0 0 16px;
  min-height: 200px;
  background: gray;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  #main, #page {
    flex-direction: column;
  }

  #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    order: 0;
  }

  #main > nav, #main > aside, header, footer {
    min-height: 50px;
    max-height: 50px;
  }
}
